<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console"/>
    <add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp} [{Level}] {Message} {Exception} {Properties} {NewLine}" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File"/>
    <add key="serilog:write-to:File.path" value="serilog-configuration-sample.txt" />
    <add key="serilog:using:Process" value="Serilog.Enrichers.Process" />
    <add key="serilog:enrich:WithProcessId"/>
  </appSettings>
</configuration>